# Server Configuration
PORT=3000
NODE_ENV=production

# CORS Configuration
ALLOWED_ORIGINS=https://bub-ai.up.railway.app,https://bub-ai.web.app,http://localhost:5173

# API Configuration
API_PREFIX=/api/v1

# Couchbase Configuration (REQUIRED - WAJIB)
COUCHBASE_CONNECTION_STRING=couchbases://cb.s0ukypm-djhcdpt.cloud.couchbase.com
COUCHBASE_USERNAME=bubai-be
COUCHBASE_PASSWORD=Mario!23
COUCHBASE_BUCKET=ai-collaborative

# JWT Secret (if using authentication)
# JWT_SECRET=your-secret-key-here
